html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'open sans';
}

.seta_imagem {
    width: 5.5rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 15%;
}

.seta_imagem_reversa {
    width: 5.5rem;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 15%;
}

header {
    height: 120px;
    background-color: #d6d6d6;
    box-shadow: 1px 1px 2px 1px grey;
    position: sticky;
    top: 0;
    text-align: center;
    margin-bottom: 3%;
}

.superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    max-width: max-content;
    margin: auto;
    height: 100%;
}

.titulo {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    margin-left: 4vw;
    margin-right: 4vw;
    font-weight: 900;
    font-family: verdana, roboto;
    letter-spacing: 3px;
}

.head {
    display: flex;
}

.imagem_head {
    width: 5rem;
}

main {
    max-width: 50%;
    margin: auto;
    margin-top: 2%;
}

.paragrafo_main {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

footer {
    padding: 55px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #1d2a4f;
    text-align: center;
    margin-top: 50px;
}

.footer_paragrafo {
    margin: 0;
    padding: 0;
    font-weight: 400;
    transform: translatey(-50%);
    color: white;
}

span {
    font-weight: bold;
    font-size: 1.5rem;
}
.propaganda{
    text-decoration: none;
    color: #fbb030;
}
.propaganda:visited{
    text-decoration: none;
    color: #fbb030;
}

@media only screen and (max-width: 1030px) {
    .titulo {
        font-size: 20px;
    }

    .footer_paragrafo {
        font-size: 70%;
    }
    .imagem_head{
        width: 4.2rem;
    }

}

@media only screen and (max-width: 700px) {
    .titulo {
        font-size: 25px;
        letter-spacing: 2px;
    }

    .superior {
        max-width: min-content;
    }

    .seta_imagem,
    .seta_imagem_reversa {
        width: 2.5rem;
        top: 30%;
    }

    main {
        max-width: 70%;
        text-align: justify;
    }

}